:root {
  --light: #E7E8D1;
  --lighter:  #fcfcfc;
  --primary: #2C3E50;
  --dark: #2c3e50cc;
  --main: #A7BEAE;
  --muted: #6C7A89;
  --red: #f15959;

  --bg-soft-green: #A9D5A3;
  --bg-soft-yellow: #F0E09C;
  --bg-soft-orange: #E9A67E;
  --bg-soft-purple: #B689B2;
}

body {
  background-color: var(--light);
  color: var(--primary);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

/* bg and btn colors*/
.text-custom-red {
  color: var(--red);
}
.bg-custom-blue {
  background-color: var(--main);
  color: var(--primary);
}

.bg-custom-blue-dark {
  background-color: var(--dark);
  color: var(--primary);
}

.bg-custom-soft-green {
  background-color: var(--bg-soft-green);
  color: var(--primary);
}

.bg-custom-soft-yellow {
  background-color: var(--bg-soft-yellow);
  color: var(--primary);
}

.bg-custom-soft-orange {
  background-color: var(--bg-soft-orange);
  color: var(--dark);
}

.bg-custom-soft-purple {
  background-color: var(--bg-soft-purple);
  color: var(--primary);
}

.bg-custom-red {
  background-color: var(--red);
  color: var(--lighter);
}

.btn-custom-blue {
  background-color: var(--main);
  color: var(--lighter);
}

.btn-custom-blue-dark {
  background-color: var(--dark);
  color: var(--lighter);
}

.btn-custom-red {
  background-color: var(--red);
  color: var(--lighter);
}

/* btn hover effects */
.btn:hover {
  opacity: 0.9;
}

.bg-custom-soft-green:hover {
  background-color: #92C67A;
}

.bg-custom-soft-yellow:hover {
  background-color: #E4D87B;
}

.bg-custom-soft-orange:hover {
  background-color: #D88C64;
  color: var(--lighter);
}

.bg-custom-soft-purple:hover {
  background-color: #9A6B94;
}

.btn-custom-red:hover {
  background-color: #ff5555;
  color: var(--light);
}

.btn-custom-blue-dark:hover {
  background-color: #6C7A89;
  color: var(--lighter);
}
.btn-custom-blue-dark:focus {
  background-color: #505b67;
  color: var(--lighter);
}
.btn-custom-blue:hover {
  background-color: var(--muted);
  color: var(--light);
}
.btn-custom-blue:focus {
  background-color: #4d5863;
  color: var(--light);
}

/* form and input styles */
.form-control {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-control:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #6c63ff33;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--main);
  border-color: var(--main);
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.muted {
  color: var(--light);
}

.size-2 {
  font-size: 19px;
}

a {
  text-decoration: none;
}

/* Labels */
.required-label::after {
  content: " *";
  color: var(--red);
  font-weight: bold;
}
/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2C3E50;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
/* modal close btn */
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s;
}

.modal-close-btn:hover {
  color: #555;
}


/* card */
.card-max-500 {
  max-width: 500px;
}

/* clickable */
.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: var(--bs-table-hover-bg, #f0f8ff) !important; 
}
/* error box */
.error-box{
  color: var(--red);
  font-size: 14px;
  margin-top: 4px;
}

/* toast */
.toast-wrapper {
  background: var(--dark)!important;
  box-shadow: none;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
